@import "~normalize.css"
@require "../stylus/**"

html
	box-sizing border-box

*, *:before, *:after
	box-sizing inherit

body
	background #f0f0f0
	color #333
	font-family 'Open Sans'
	font-weight 400

#main
	padding 20px

a
	text-decoration none
	color inherit
	transition color 150ms 0ms ease-in-out

	&:hover
		color darken(red,25%)

td
	padding 7px

p
	margin 0 0 10px 0
