%h1 Game Board
%h3=$game->name

-$states = App\Game::$states

-if($game->state == $states['WAITING_FOR_PLAYERS'])
	!= View::make('pages.game.player-config', ['game' => $game])

-else if($game->state == $states['PLAYER_TURN'])
	%p player turn

-else if($game->state == $states['TURN_IN_PROGRESS'])
	%p player turn in progress

-else
	%p game finished

!= View::make('pages.game.player-info', ['game' => $game])

-#foreach($game->users as $user)
	%li
		%span(style="display: inline-block; height: 30px; width: 30px; background-color:#{$user->pivot->color}")
		=$user->pivot->name
		-if($user->pivot->turnt)
			%span(style="color:red;") [TURN]
