%h1 New Game

-$users = App\User::get()


!=Former::open(route('create new game'))

%h3 Settings
!=Former::text('name', 'Game Name')->value('World War Thray')
!=Former::checkbox('neutrals', 'Neutrals?')->check()
!=Former::select('card_type')->options(App\Game::$card_settings)

%h3 Players
-foreach($users as $i => $user)
	%p

		%input(type="checkbox" name="users[]" value=$user->id
			checked="checked" readonly)
		%span=$user->email

!=Former::submit('Make war, nay love.')
!=Former::close()
