%h1 New Game

-$users = App\User::get()


!=Former::open(route('create new game'))

-foreach($users as $i => $user)
	%p

		%input(type="checkbox" name="users[]" value=$user->id
			checked="checked" readonly)
		%span=$user->email

!=Former::submit('Make war, nay love.')
!=Former::close()
