#header
	padding 20px
	padding-bottom 16px
	border-bottom 1px solid #ccc
	line-height 30px
	vertical-align middle
	background white

	.logo
		font-family 'Black Ops One'
		font-size 30px

	.nav
		float right

		a
			text-decoration underline
