.player_settings

	.color-input
		vertical-align middle
		width 25px
		height 25px
		text-align center

		input
			width 15px
			height 15px
			background white
			border none
			border-radius 50%

			&:checked
				background black
